{% extends 'Cursos/index2.html' %}
{% load static %}
{% block content %}
<!--breadcumb-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Cursos</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Hijo1</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nieto1</a></li>
        </ol>
</nav>
<h1 class="text-center">Cursos</h1>

<form class="form-inline my-2 my-lg-0" method="get">
                            <input class="form-control mr-sm-2" type="search" aria-label="Search" id="buscar-operadores" placeholder="Buscar " name="buscar" style="width: 90%; height:30px;" value="{{request.GET.buscar}}" autofocus>
                                    
                     
<div class="container1">
    <button class="add_form_field">Añadir otro concepto &nbsp; 
      <span style="font-size:16px; font-weight:bold;">+ </span>
    </button>
    <div >
        <select name="not0" style = "width: 25%;" id="not-id0"><option value="normal">NORMAL</option><option value="not">NOT</option></select><input style="width: 70%; height:28px; margin: 5px;" class="form-control " type="text" name="mytext[1]">
    </div>

</div>
<button style="width: 100%; display: block;" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="boton-buscar">Buscar</button>
</form> 

<div class="row row-cols-1 row-cols-md-3">
  <div class=" col-sm-12 col-md-6 col-xl-4">
        <div class="card card-lista-fotos">
                <img  src="{% static 'img/pie.jpg' %}" class="img-fluid d-block mx-auto rounded-circle fotos-tarjetas-individual" >
          <div class="card-body">
            <h5 class="card-title text-center text-primary">Analisis 1 </h5>
            <p class="card-text text-center lead nombre-card" >
                Detalles de Analisis
            </p>
          </div>
            <div class="card-footer">
                <div class="row">
                <div class="col-6 col-sm-6 col-md-6">
                    <a href="#">
                        <img src="{% static 'img/Detalles.png'%}" class="img-fluid mx-auto d-block">
                     </a>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <a href="#">
                        <img src="{% static 'img/Actualizar.png'%}" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                </div>
            </div>
        </div>
  </div>
  <div class=" col-sm-12 col-md-6 col-xl-4">
        <div class="card card-lista-fotos">
                <img  src="{% static 'img/pie.jpg' %}" class="img-fluid d-block mx-auto rounded-circle fotos-tarjetas-individual" >
          <div class="card-body">
            <h5 class="card-title text-center text-primary">Analisis 2 </h5>
            <p class="card-text text-center lead nombre-card" >
                Detalles de Analisis 2
            </p>
          </div>
            <div class="card-footer">
                <div class="row">
                <div class="col-6 col-sm-6 col-md-6">
                    <a href="#">
                        <img src="{% static 'img/Detalles.png'%}" class="img-fluid mx-auto d-block">
                     </a>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <a href="#">
                        <img src="{% static 'img/Actualizar.png'%}" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                </div>
            </div>
        </div>
  </div>
  <div class=" col-sm-12 col-md-6 col-xl-4">
        <div class="card card-lista-fotos">
                <img  src="{% static 'img/regresion.png' %}" class="img-fluid d-block mx-auto rounded-circle fotos-tarjetas-individual" >
          <div class="card-body">
            <h5 class="card-title text-center text-primary">Analisis 3 </h5>
            <p class="card-text text-center lead nombre-card" >
                Detalles de Analisis 3
            </p>
          </div>
            <div class="card-footer">
                <div class="row">
                <div class="col-6 col-sm-6 col-md-6">
                    <a href="#">
                        <img src="{% static 'img/Detalles.png'%}" class="img-fluid mx-auto d-block">
                     </a>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <a href="#">
                        <img src="{% static 'img/Actualizar.png'%}" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                </div>
            </div>
        </div>
  </div>
</div>

<script>
    $(document).ready(function() {
    var max_fields = 4;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div><select style = "width: 15%" name="bool'+(x-1)+'" id="bool-id'+(x-1)+'"><option value="and">AND</option><option value="or">OR</option></select> <select style = "width: 10%" name="not'+(x-1)+'" id="not-id'+(x-1)+'"><option value="normal">NORMAL</option><option value="not">NOT</option></select> <input style="width: 60%; height:28px; margin: 5px;" class="form-control " type="text" name="mytext['+x+']"><a href="#" class="delete">Delete</a></div>'); //add input box
        } else {
            alert('Alcanzaste el limite')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    });
});
</script>
{% endblock %}